{% extends 'base.html' %}
{% block content %}

<section class="todo_list">
  <h1>Completed Todo List</h1>

  <!-- display the list of todos -->
  <ul>
    {% for todo in completed_todos %}
    <li>
      <!-- create a complete button for each todo -->
      <div class="todo_container">
        <form action="{{ url_for('restore', id=todo.id) }}" method="POST">
          <button type="submit" class="restore_button">
            <img class="icon" src="/static/icons/restore.png" alt="Restore Todo" width="100%" height="100%">
          </button>
        </form>
        <a class="todo" href="{{ url_for('todo_description', id=todo.id) }}">{{ todo.title }}</a>
        <form  action="{{ url_for('delete_todo', id=todo.id) }}" method="POST">
          <button type="submit" class="delete_button">
            <img class="icon" src="/static/icons/delete.png" alt="Delete Todo" width="100%" height="100%">
          </button>
        </form> 
      </div>       
    </li>
    {% endfor %}
  </ul>
</section>

{% endblock %}
